<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 
<mapper namespace="com.bloodysin.scoremanagement.mapper.ScoreTableMapper">
	<resultMap type="com.bloodysin.scoremanagement.model.ScoreTable" id="scoreTableResultMap">
	     <id property="courseName" column="course_name" />
	     <result property="value" column="value" />
	     <result property="userId" column="user_id" />
	</resultMap>

    <select id="getScoreTable" parameterType="int" resultMap="scoreTableResultMap"> 
        <![CDATA[        
        	SELECT * FROM course_score
    		WHERE user_id = #{userId}      
        ]]>	
    </select> 
</mapper>